################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ULO Controller/v15
/ULOController/bin/Release/ULOControls.err
/ULOController/bin/Release/ULOControls.out
