################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ULO Controller/v15
/.vs/ULO Controller/v16
/ULOController/bin/Release/ULOControls.err
/ULOController/bin/Release/ULOControls.out
/ULOController/bin/Release/ULOControls.conf
/ULOController/bin/Release/Newtonsoft.Json.xml
/ULOController/bin/Release/AForge.xml
/ULOController/bin/Release/AForge.Video.xml
/ULOController/bin/Release/AForge.dll
/.idea
/ULO/bin/Debug
/ULO/obj/Debug
/ULOController/bin/Debug
/ULOController/obj/Debug
/ULOController/bin/Release/*.mov
/ULOController/bin/Release/*.mp4
/ULOController/bin/Release/media
